
/* Establishes the Headers size/color/ assigns it to flex (read more in my README about flex) */
header
{
    height: 10vh;
    background-color: #383838;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Creates the "title" in the top right with your name inside of a box */
header h1
{
    background-color: #94d7da;
    height: 5vh;
    padding: .5vh 1vw 1vh 5vw;
    font-size: 250%;
    color: #383838;
}

/* Centers the nav buttons in the top right and adds margin*/
header ul
{
    display: flex;
    align-items: center;
    margin: 5vw;
}

/* styles the nav buttons and provides the disance and underline */
header ul li a
{
    color: #94d7da;
    padding: 1vh;
    font-size: 150%;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

/* Makes hero (or jumbotron) div relative and sets a height so we can manipulate the image inside */
main > div
{
    position: relative;
    height: 150px;
}

/* Styles the hero image so that it stretches across the top */
main > div img
{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

/* Moves the "Welcome To My Page" text ontop of the jumbotron/hero on the right and offset from the corner */
main > div h1
{
    margin-right: 2vw;
    background-color: #94d7da;
    font-size: 150%;
    padding: 10px;
    position: absolute;
    bottom: 1.5vh;
    right: 0;
}

/* Adds margin to the main section (inclduing "about me", "work", "contact me"*/
main section {
    margin: 2vh 5vw 1vh 7vw;
    display: flex;
}

/* Styles the titles of each section, Also applies the line dividing */
section h1
{
    color: #445876;
    font-size: 200%;
    text-align: right;
    display: block;
    border-right: 2px solid #445876; /* Adds the line dividing */
    width: 20%;
    padding-right: .7vw;
}

/* Adjusts the "About Me" sections paragraph and adds line gap */
section div p
{
    display: inline-block;
    line-height: 1.2;
    width: 100%;
}

/* Organizes the images for the "work" section, display flex so its adjustable, flex-wrap so it doesnt go off the screen, space-around so it keeps equal space all around */
/* NOT ADJUSTING THE IMAGES THEMSELVES BUT THE DIV HOLDING THE IMAGES */

.project-cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Adjusts all the images to their max width, sets max-height and max-width so there is no overflow, flex-shrink is used to make the first image shrink the most */
/* Grayscale and transition is bringing color when hovered over by a pointer */
.project-cards img
{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

/* Makes the "main" picture in work the biggest and on its own row */
/* Again, leaving 3% width for margins */
#main-card
{
    width: 97%
}

/* Creates the border for the images, applies a margin to keep the distance and position is relative so it adjust within the flexbox. */
/* Width helps organize that there are two images per row, (47% because we use the extra 3% for the margins) */
.project-card
{
    margin: 0 1.5vw 1.5vh 0;
    border: 4px solid #94d7da;
    width: 47%;
    position: relative;
}

/* Adds the little titles for each work applcation */
.project-card div
{
    position: absolute;
    bottom: 1.5vh;
    left: 0;
    background-color: #94d7da;
    padding: 1vh;
}

/* Adds the "hover" to your images so when you hover itll bring the grayscale */
.project-card img:hover
{
    filter: grayscale(0%);
}


/* Adjust the contact me padding which keeps the dividing line equal */
section > div, section ul
{
    width: 100%;
    padding-left: 3vh;
}

/* Moves the contact me items and positions them horizontally and centered. */
.contact-me ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Styles the contact me items */
.contact-me ul li, .contact-me ul li a
{
    text-decoration: underline;
    text-decoration-color: #445876;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

/* Moves the footer to the center */
footer
{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1024px)
{
    /* Makes the main section a block which has everything stack on top of eachother (helps with phones) */
    main section
    {
        display: block;
    }

    /* Makes the title words go above our section for vertical organization */
    /* Width: 100% extends the border line on the bottom */
    section h1
    {
        border-right: none;
        border-bottom: 2px solid #445876;
        width: 100%;
        text-align: left;
    }

    /* Sets photo divs to 100% making it easier to see while scrolling */
    .project-cards, .project-card, #main-card
    {
        width: 100%;
    }

    /*stacks your list vertically*/
    .contact-me ul
    {
        display: block;
    }

    /* centers the contact me and adds distance between both */
    .contact-me ul li
    {
        display: flex;
        justify-content: center;
        margin: 2vh;
    }
}

@media screen and (max-width: 867px)
{
    /* Makes header a block so the items go vertical */
    header
    {
        display: block;
        height: 100%;
        padding-top: .2vh;
        padding-bottom: .2vh;
    }

    /* Makes nav buttons vertical */
    header ul
    {
        width: 80%;
        display: block;
    }
    
    /* Add some space between the nav buttons */
    header ul li
    {
        padding-top: 1vh;
    }
    
    /* Adds more space between the nav button */
    header ul li a
    {
        display: inline-block;
    }
}

